body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Architects Daughter", cursive;
  margin: 0px;
  
}

.content {
  width: 100%;
}

.main-column {
  max-width: 1000px;
  margin: 0px auto;
  padding: 0px 8px;
}

.navagation {
  border-style: solid;
  border-width: 0.5px;
  border-color: transparent;
  background: pink;
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  text-decoration: underline;
  padding: 0.5rem 0px;
  color: white;
  
}

.navagation a {
  color: white;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-position: center;
  height: 250px;
  background-image: url("Cat.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  text-align: center;
}

.heading h1 {
  background-color: pink;
  color: #FFF;
  font-family: 'Architects Daughter';
  font-size: 40px;
  font-weight: 300;
  line-height: 40px;
  width: 68%;
  padding: 20px;
  margin-top: 200px; 
  letter-spacing: 6px;
  
}

.navagation {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  text-decoration: underline;
  padding: 0.5rem 0px;
}

.icon {
  margin-left: 3rem;
}

.icon2 {
  margin-right: 1rem;
}

h1 {
  background-color: pink;
  color: #FFF;
}

.midsection {
  border-bottom: 2px dashed;
  border-color: pink;
  margin-top: 10px;
}

h2 {
  display: inline-block;
  color: pink;
  font-family: "Architects Daughter", cursive;
  transform: rotateY(10deg);
  font-size: 40px;
}

.wiggle {
  animation-name: wiggle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0% {
    transform: none;
  }
  5% {
    transform: rotateZ(-10deg);
  }
  10% {
    transform: rotateZ(10deg);
  }
  15% {
    transform: rotateZ(-5deg);
  }
  20% {
    transform: rotateZ(5deg);
  }
  25% {
    transform: none;
  }
}

.move {
  display: inline-block;
  position: relative;
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes move {
  0% {
    left: 25%;
    transform: translateX(0px);
  }
  50% {
    left: 75%;
    transform: translateX(-100%);
  }
  100% {
    left: 25%;
    transform: translateX(0px);
  }
}

.description {
  padding: 30px;
}
.description p {
  font-size: 20px;
  align-items: center;
}

.allparagraphs {
  display: flex;
  flex-direction: column;
}

.catsintro {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

h3 {
  font-family: "Architects Daughter", cursive;
  background-color: pink;
  color: #FFF

}

p {
  font-family: "Architects Daughter", cursive;
  font-size: 14px;
}

.parabegin {
  display: flex;
  justify-content: flex-start;
}

.iconpara {
  padding: 14px;
}

.buttons ul li {
  display: inline-block;
  background-color:pink;
  list-style: none;
  width: 200px; 
  padding: 20px 10px; 
  margin-bottom: 3px;
  color: #FFF;
  font-weight: 600;
  font-size: 20px;
  font-family: "Archeticts Daughter";
  text-align: center;
  letter-spacing: 8px;
  margin: 10px;  
}

.footer {
  color: rgb(128, 124, 124);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;
  border-top: 1px solid rgb(201, 201, 201);
  padding-top: 1rem;
}


.border {
  border-style: solid;
  border-color: pink;
}

#contact-heading-one {
  height: 30px;
  width: 200px;
  background-color: pink;
}

#contact-heading-two {
  height: 30px;
  width: 200px;
  background-color: pink;
}

#contact-heading-three {
  height: 30px;
  width: 200px;
  background-color: pink;
}