body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Architects Daughter", cursive;
  margin: 0px;
}

.content {
  width: 100%;
}

.main-column {
  max-width: 1000px;
  margin: 0px auto;
  padding: 0px 8px;
}

.navagation {
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(190, 189, 189);
  background: rgb(243, 248, 250);
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  text-decoration: underline;
  padding: 0.5rem 0px;
}

.navagation a {
  color: black;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-position: center;
  height: 250px;
  background-image: url("Cat.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.icon {
  margin-left: 3rem;
}


h1 {
  color: rgb(15, 15, 15);
  background-color: white;
  border: 1px dotted;
  padding: 0px 12px;
  font-family: "Teko", cursive;
  font-weight: 200;
  text-align: center;
  text-shadow: rgb(0, 9, 12);
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-size: 1.5rem;
  border-radius: 8px;
  margin: 0px;
}

.midsection {
  border-bottom: 2px solid;
  border-color: pink;
  margin-top: 10px;
}

h2 {
  display: inline-block;
  color: rgb(119, 116, 118);
  font-family: "Architects Daughter", cursive;
  transform: rotateY(10deg);
  font-size: 35px;
}

p {
  text-align: center;
}

.wiggle {
  animation-name: wiggle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0% {
    transform: none;
  }
  5% {
    transform: rotateZ(-10deg);
  }
  10% {
    transform: rotateZ(10deg);
  }
  15% {
    transform: rotateZ(-5deg);
  }
  20% {
    transform: rotateZ(5deg);
  }
  25% {
    transform: none;
  }
}

.move {
  display: inline-block;
  position: relative;
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes move {
  0% {
    left: 25%;
    transform: translateX(0px);
  }
  50% {
    left: 75%;
    transform: translateX(-100%);
  }
  100% {
    left: 25%;
    transform: translateX(0px);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cats {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
 

}


p {
  font-family: "Architects Daughter", cursive;
  font-size: 14px;
  text-align: center;
}





.cats {
  font-family: "Architects Daughter", cursive;
  color: rgb(87, 41, 25);
  font-size: 13px;
  padding-left: 3rem;
  margin-top: 0.1px;
}

.container {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  flex-direction: row;


}
.cat-container img {
  width: 210px; 
  height: 200px;
}




#contact-heading-one {
  height: 30px;
  width: 200px;
  background-color: pink;
}

#contact-heading-two {
  height: 30px;
  width: 200px;
  background-color: pink;
}

#contact-heading-three {
  height: 30px;
  width: 200px;
  background-color: pink;
}

.footer {
  color: rgb(128, 124, 124);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;
  border-top: 1px solid rgb(201, 201, 201);
  padding-top: 1rem;
}